body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

.topcontainer {
    background-color: #E4F9F5;
    position: relative;
    padding: 100px;
  
}

h1 {
    margin:50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Crimson Text', serif;
    color: #66BFBF;
      line-height: 1;
}
h2 {
    font-family: 'montserrat', sans-serif;
    font-size: 2.25rem;
    color:#66BFBF;
     
}
.programmer{
    
}

.btmcld {
    position: absolute;
    display: inline-block;
    left: 350px;
    bottom: 300px;


}

.abvcld {
    margin-top: 15px;
    margin-left: 350px;
}

p {
    font-family: cursive
}

.skill-row1{
   display: table-cell; 
    width: 50%; 
    margin-right: 15px;
    line-height: 2;
   text-align:left;
border-right: 3px solid black;
    padding:10px;
    
    
}
.skill-row{
   display: table-cell; 
    width: 50%; 
    margin-left: 500px;
    line-height: 2;
   text-align:left;  
    padding:10px;
    
}
p {
    width: 100%;
    margin: 6px auto 6px auto;

}



h3 {
    font-family: 'montserrat', sans-serif;
    color: #11999E;
}
a
{
    color: #11999E;
}
.skill
{

}
